.list-item {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 12% 40% 15% 33%;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    align-items: center;

    &-action {
      display: flex;
    }

    &-task {
      word-break: break-word;
      padding-right: 30px;
    }

    &-edit {
     margin-right: 20px !important;
    }
}